<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SupabaseKey</key>
	<string>$(SUPABASE_KEY)</string>
	<key>AppGroupID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>GIDClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>TaskforceReleaseChannel</key>
	<string>$(TF_RELEASE_CHANNEL)</string>
	<key>TaskforceSourceCommit</key>
	<string>$(TF_SOURCE_COMMIT)</string>
	<key>TaskforceBuildTimeUTC</key>
	<string>$(TF_BUILD_TIME_UTC)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>taskforce</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_IOS_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
